[Unit]
Wants=network-online.target 
After=network-online.target 
{% if include_vars.description is defined %}
Description={{ include_vars.description }}
{% endif %}
{% if include_vars.docs is defined %}
Documentation={{ include_vars.docs }}
{% endif %}

[Service]
ExecStart=/bin/sh -c 'ansible-pull -U {{ include_vars.repo_url | urlsplit('scheme') }}://{% if git_user is defined and git_password is defined %}{{ git_user | urlencode() }}:{{ git_password | urlencode() }}@{% endif %}{{ include_vars.repo_url | urlsplit('hostname') }}{{ include_vars.repo_url | urlsplit('path') }} -i {% if include_vars.host_invent is defined %}{{ include_vars.host_invent }}{% else %}"localhost"{% endif %}{% if include_vars.tempdir is defined %} --directory {{ include_vars.tempdir }}{% endif %}{% if include_vars.purge is defined and include_vars.purge is sameas true %} --purge{% endif %}{% if include_vars.id_vault is defined %} --vault-id /etc/ansible/vault-{{ include_vars.id_vault }}{% endif %}'
TimeoutStopSec={{ include_vars.timeout | default('600') }} 

User={% if include_vars.pulling_root is undefined or include_vars.pulling_root is sameas false %}pull-runner{% else %}root{% endif %} 
Group={% if include_vars.pulling_root is undefined or include_vars.pulling_root is sameas false %}pull-runner{% else %}root{% endif %} 

Restart=no

[Install]
WantedBy=multi-user.target
